#map {
    position: fixed;
    width:60%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #2dc4b2;
    }

b {
    text-decoration: none;
    font-weight: bold;
    color: #294fc2;
    } 

#features {
    width: 40%;
    margin-left: 60%;
    font-family: sans-serif;
    overflow-y: scroll;
    background-color: #fafafa;
}

section {
    padding:  100px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 15px;
}

section.active {
    opacity: 1;
}

section:last-child {
    border-bottom: none;
    margin-bottom: 100px;
}

#console1 {
    position: absolute;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 10px 20px;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 10000;
    border-radius: 2.5px;
}

.session1 {
        margin-bottom: 20px;
    }

#features1 {
    position: absolute;
    right: 0;
    width: 250px;
    height: 100px;
    top: 0;
    margin: 10px;
    padding: 10px 20px;
    background-color:rgba(255, 255, 255, 0.8);
    z-index: 10000;
    border-radius: 2.5px;
}

#legend {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 150px;
    height: 100px;
    margin: 10px;
    padding: 10px 20px;
    background-color:rgba(255, 255, 255, 0.8);
    line-height: 20px;
    margin-bottom: 20px;
    z-index: 10000;
    border-radius: 2.5px;
}

#methodology {
    font-size: 10px;
    line-height: 20px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.row {
        height: 10px;
        width: 100%;
    }

.colors {
        background: linear-gradient(to right, #4572f7, #14dcff, #14dcff, #66fff7, #7ffaf0, #7ffaf0);
        margin-bottom: 5px;
    }

.label {
        width: 14%;
        font-size: 10px;
        display: inline-block;
        text-align: center;
    }

.map-overlay {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.10);
        border-radius: 3px;
        position: absolute;
        width: 25%;
        top: 10px;
        left: 10px;
        padding: 10px;
        display: none;
}   